$white: #FFF;
$black: #000;
$grey1: #999999;
$grey2: #6b6b6b;
$grey3: #b5b5b5;
$grey4: #CCC;
$purple: #6a55ca;
$orange: #ffc82c;


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

a {
	color: $black;
	text-decoration: none;
}

p {
	margin: 0 0 1.5rem;
}

body {
	background-color: $purple;
	color: $black;
	font-family: 'Arial', sans-serif;
	font-size: 1.4rem;
}

h2 {
	margin: 0;
	padding-left: 2rem;
}

.page {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	&__unit {
		width: 100%;
		max-width: 720px;
	}
}

.login-form {
	width: 100%;
	background-color: white;
	border-radius: 8px;

	position: relative;
	padding: 3rem .5rem .8rem .5rem;

	&__row {
		margin: 0 0 2.2rem;

		&_email {
			margin-bottom: 1.2rem;
		}

		&_pass {
			margin-bottom: .7rem;
		}

		&_link {
			margin-bottom: 1.9rem;
		}

		&_upload {
		   margin-right: -4rem;
		   margin-bottom: 3.6rem;
		}

		&_check {
			margin-bottom: 3rem;
		}
	}

	&__close {
		display: block;
		width: 1.3rem;
		height: 1.3rem;

		background-color: $grey4;
		border-radius: 50%;

		position: absolute;
		top: 1rem;
		right: 1rem;

		&:before, &:after {
			content: '';
			display: block;
			width: 7px;
			height: 1px;
			background-color: white;
			
			position: absolute;
			left: 3px;
			top: 6px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__wrap {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}

	&__col {
		flex: 1 1 auto;
		width: 50%;

		padding: 0 2.5rem
	}
}

.input {
	display: flex;
	align-items: stretch;

	border: 1px solid $grey3;
	border-radius: 4px;

	position: relative;

	&._error {
		border-color: red;
	}

	&._valid {
		border-color: #93c273;
	}

	&_hasicon {

		.input__unit {
			padding: 2rem 5.5rem 2rem 2rem;
		}
	}

	&_tel {

	}

	&_is-required {
			position: relative;

			&:after {
				content: '*';
				color: red;
				position: absolute;
				top: 32%;
			    right: -2.5rem;
			    font-size: 3rem;
			}
		}

	&__icon {
		flex: 0 0 auto;
		width: 5.5rem;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		right: 0;
		top: 0;
	}

	&__unit {
		flex: 0 1 auto;
		border: none;
		width: 100%;
		height: 100%;

		position: relative;
		z-index: 1;

		background: none;
		padding: 2rem;

		&:focus {
			outline: none;
		}

		&[type='tel'] {
			padding: 3rem 2rem 1rem;
		}
	}

	&__tel-label {
		position: absolute;
		left: 2rem;
		top: .7rem;

		font-size: 1.2rem;
		color: #878c90;
	}
}

.select {
	position: relative;
    border: 1px solid $grey3;
    border-radius: 4px;

	option {

		&:disabled {
			display: none;
		}
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border: none;

		&:focus {
			outline: none;
		}
	}

	&__icon {
		flex: 0 0 auto;
		width: 5.5rem;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		right: 0;
		top: 0;
	}

	&__unit {
		width: 100%;
	    background: none;
	    padding: 2rem 5.5rem 2rem 2rem;

	    position: relative;
		z-index: 1;
	}
}

.checkbox {
	display: flex;
	align-items: flex-start;

	cursor: pointer;

	input {
		display: none;

		&:checked + .checkbox__mask {
			position: relative;

			&:after {
				content: '';
				display: block;

				width: 14px;
				height: 7px;
				border-width: 0 0 2px 2px;
			    border-style: solid;
			    border-color: #b6b6b6;
			    transform: rotate(-45deg);

			    position: absolute;
			    left: 3px;
			    top: 4px;
			}
		}
	}

	&__mask {
		flex: 0 0 auto;

		display: inline-block;
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 1rem;

		border: 1px solid #b6b6b6;
		border-radius: 5px;
	}

	&__label {
		display: inline-block;
	}
}

.btn {
	display: block;
	padding: 1.5rem;
	width: 100%;

	color: $white;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;

	background: #2428ae;
	border: none;
	border-radius: 25px;
}

.content-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	ol {
		margin: 0;
		padding: 0 0 0 4rem;
	}

	li {
		margin: 0 0 2.5rem;
	}
}

.dragNdropUpload {
	background: $orange;
	border-radius: 4px 4px 0 4px;
	padding: 2rem;

	cursor: pointer;

	position: relative;

	& * {
		user-select: none;
	}

	&:after {
		content: '';
		display: block;

		width: 10px;
		height: 10px;

		background: #b87618;
		border-radius: 0 0 1rem 0;

		position: absolute;
		right: 0;
		bottom: -1rem;
	}

	&__unit {
		display: none;
	}

	&__area {
		padding: 5rem 0;
		text-align: center;
		border: 2px dashed $white;
	}

	&__text {
		text-transform: uppercase;
		color: $white;
		font-weight: 600;
	}
}

.genderRadio {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__unit {
		font-weight: 600;
		cursor: pointer;

		input {
			display: none;

			&:checked + span {
				color: $purple;
			}
		}
	}

	&__toggler {
		width: 46px;
		height: 30px;
		margin: 0 .5rem;

		position: relative;

		border: 1px solid #b2b2b2;
		border-radius: 25px;

		&:after {
			content: '';
			display: block;
			width: 24px;
			height: 24px;

			background: $purple;
			border-radius: 50%;

			position: absolute;
			top: 2px;
			left: 2px;
		}

		&._man {
			&:after {
				left: 2px;
			}
		}

		&._woman {
			&:after {
				left: 18px;
			}
		}
	}
}